<?xml version="1.0"?>
<config>
    <modules>
        <Contactlab_Commons>
            <version>0.8.16</version>
            <description>Magento/ContactLab Common functions</description>
        </Contactlab_Commons>
    </modules>
    <global>
        <helpers>
            <contactlab_commons>
                <class>Contactlab_Commons_Helper</class>
            </contactlab_commons>
        </helpers>
        <blocks>
            <contactlab_commons>
                <class>Contactlab_Commons_Block</class>
            </contactlab_commons>
        </blocks>
        <resources>
            <contactlab_commons_setup>
                <setup>
                    <module>Contactlab_Commons</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </contactlab_commons_setup>
            <contactlab_commons_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </contactlab_commons_write>
            <contactlab_commons_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </contactlab_commons_read>
        </resources>
        <models>
            <contactlab_commons>
                <class>Contactlab_Commons_Model</class>
                <resourceModel>contactlab_commons_resource</resourceModel>
            </contactlab_commons>
            <contactlab_commons_resource>
                <class>Contactlab_Commons_Model_Resource</class>
                <entities>
                    <log>
                        <table>contactlab_commons_log_entity</table>
                    </log>
                    <deleted>
                        <table>contactlab_commons_deleted_entity</table>
                    </deleted>
                    <task>
                        <table>contactlab_commons_task_entity</table>
                    </task>
                    <task_event>
                        <table>contactlab_commons_task_event_entity</table>
                    </task_event>
                </entities>
            </contactlab_commons_resource>
        </models>
        <template>
            <email>
                <contactlab_commons_error_email_send_email_template translate="label" module="contactlab_commons">
                    <label>Task error email notification</label>
                    <file>contactlab_commons/send_mail.html</file>
                    <type>html</type>
                </contactlab_commons_error_email_send_email_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <contactlab_commons>
                <use>admin</use>
                <args>
                    <module>Contactlab_Commons</module>
                    <frontName>contactlab_commons</frontName>
                </args>
            </contactlab_commons>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <contactlab_commons>
                    <file>contactlab/commons.xml</file>
                </contactlab_commons>
            </updates>
        </layout>
        <translate>
            <modules>
                <contactlab_commons>
                    <files>
                        <default>contactlab/Contactlab_Commons.csv</default>
                    </files>
                </contactlab_commons>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <contactlab_commons_consume>
                <description>Consume task event queue</description>
                <schedule>
                    <!-- Consume the queue every minute -->
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>contactlab_commons/cron::consumeQueue</model>
                </run>
            </contactlab_commons_consume>
            <contactlab_commons_clear_queue>
                <description>Remove old tasks from task queue</description>
                <schedule>
                    <!-- Clear the queue the queue every day -->
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>contactlab_commons/cron::clearQueue</model>
                </run>
            </contactlab_commons_clear_queue>
            <contactlab_commons_send_email>
                <description>Send error notification email</description>
                <schedule>
                    <cron_expr>5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>contactlab_commons/cron::checkErrors</model>
                </run>
            </contactlab_commons_send_email>
        </jobs>
    </crontab>
    <default>
        <contactlab_commons>
            <global>
                <days_of_old_tasks>3</days_of_old_tasks>
                <debug>0</debug>
                <platform_version>2.2.3</platform_version>
            </global>
            <connection>
                <type>1</type>
                <import_local_path>/tmp</import_local_path>
                <export_local_path>/tmp</export_local_path>
                <remote_server>sftp-clab.housing.tomato.it</remote_server>
                <import_remote_path>incoming/exporter</import_remote_path>
                <export_remote_path>incoming/updater</export_remote_path>
                <!-- TODO Remove in prod -->
                <sftp_username>magento-test</sftp_username>
                <sftp_password></sftp_password>
            </connection>
            <soap>
            	<wsdl_url><![CDATA[https://soap.contactlab.it/soap/services?wsdl]]></wsdl_url>
            </soap>
        </contactlab_commons>
    </default>
</config>
