<?xml version="1.0"?>
<config>
    <modules>
        <Contactlab_Template>
            <version>0.9.2</version>
            <description>Abandoned Cart, Wishlist Reminder and generic emails sent using ContactLab XML Delivery.</description>
        </Contactlab_Template>
    </modules>
    <global>
        <helpers>
            <contactlab_template>
                <class>Contactlab_Template_Helper</class>
            </contactlab_template>
        </helpers>
        <blocks>
            <contactlab_template>
                <class>Contactlab_Template_Block</class>
            </contactlab_template>
            <adminhtml>
                <rewrite>
                    <newsletter_template_edit_form>Contactlab_Template_Block_Adminhtml_Newsletter_Template_Edit_Form</newsletter_template_edit_form>
                    <newsletter_template_edit>Contactlab_Template_Block_Adminhtml_Newsletter_Template_Edit</newsletter_template_edit>
                    <newsletter_template_preview>Contactlab_Template_Block_Adminhtml_Newsletter_Template_Preview</newsletter_template_preview>
                    <newsletter_template_grid>Contactlab_Template_Block_Adminhtml_Newsletter_Template_Grid</newsletter_template_grid>
                    <newsletter_queue_grid>Contactlab_Template_Block_Adminhtml_Newsletter_Queue_Grid</newsletter_queue_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <newsletter>
                <rewrite>
                    <template>Contactlab_Template_Model_Newsletter_Template</template>
                    <queue>Contactlab_Template_Model_Newsletter_Queue</queue>
                </rewrite>
            </newsletter>
            <newsletter_resource>
                <rewrite>
                    <template>Contactlab_Template_Model_Resource_Newsletter_Template</template>
                    <template_collection>Contactlab_Template_Model_Resource_Newsletter_Template_Collection</template_collection>
                    <queue_collection>Contactlab_Template_Model_Resource_Newsletter_Queue_Collection</queue_collection>
                    <subscriber_collection>Contactlab_Template_Model_Resource_Newsletter_Subscriber_Collection</subscriber_collection>
                </rewrite>
            </newsletter_resource>
            <customer_resource>
                <rewrite>
                    <customer_collection>Contactlab_Template_Model_Resource_Customer_Collection</customer_collection>
                </rewrite>
            </customer_resource>
            <contactlab_template>
                <class>Contactlab_Template_Model</class>
                <resourceModel>contactlab_template_resource</resourceModel>
            </contactlab_template>
            <contactlab_template_resource>
                <class>Contactlab_Template_Model_Resource</class>
                <entities>
                    <type>
                        <table>contactlab_template_type_entity</table>
                    </type>
                </entities>
            </contactlab_template_resource>
        </models>
        <resources>
            <contactlab_template_setup>
                <setup>
                    <module>Contactlab_Template</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </contactlab_template_setup>
        </resources>
        <events>
            <contactlab_commons_task_delete_before>
                <observers>
                    <contactlab_template_task_delete_before>
                        <type>singleton</type>
                        <class>contactlab_template/task_observer</class>
                        <method>taskDelete</method>
                    </contactlab_template_task_delete_before>
                </observers>
            </contactlab_commons_task_delete_before>
            <contactlab_commons_task_collection_load_old_tasks>
                <observers>
                    <contactlab_template_task_collection_load_old_tasks>
                        <type>singleton</type>
                        <class>contactlab_template/task_observer</class>
                        <method>loadOldTasks</method>
                    </contactlab_template_task_collection_load_old_tasks>
                </observers>
            </contactlab_commons_task_collection_load_old_tasks>
        </events>
    </global>
    <frontend>
        <routers>
            <contactlab_template>
                <use>default</use>
                <args>
                    <module>Contactlab_Template</module>
                    <frontName>contactlab_template</frontName>
                </args>
            </contactlab_template>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <contactlab_template before="Mage_Adminhtml">Contactlab_Template_Adminhtml</contactlab_template>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <contactlab_template>
                    <file>contactlab/template.xml</file>
                </contactlab_template>
            </updates>
        </layout>
        <translate>
            <modules>
                <contactlab_template>
                    <files>
                        <default>contactlab/Contactlab_Template.csv</default>
                    </files>
                </contactlab_template>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <contactlab_template_scan>
                <description>Scan templates for new recurring email</description>
                <schedule>
                    <!-- Scan templates every minute -->
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>contactlab_template/cron::scan</model>
                </run>
            </contactlab_template_scan>
        </jobs>
    </crontab>
    <default>
        <contactlab_template>
            <global>
                <!--enabled>0</enabled-->
            </global>
            <queue>
                <!--delivery_method>manual</delivery_method>
                <export_remote_path>xmld</export_remote_path>
                <contactlab_template_model_task_processnewsletterqueuerunner_interval>10</contactlab_template_model_task_processnewsletterqueuerunner_interval>
                <contactlab_template_model_task_processnewsletterqueuerunner_retries>3</contactlab_template_model_task_processnewsletterqueuerunner_retries>
                <contactlab_template_model_task_checknewsletterqueuerunner_interval>2</contactlab_template_model_task_checknewsletterqueuerunner_interval>
                <contactlab_template_model_task_checknewsletterqueuerunner_retries>30</contactlab_template_model_task_checknewsletterqueuerunner_retries-->
            </queue>
            <generic>
                <!--send_to_not_subscribed>0</send_to_not_subscribed-->
            </generic>
            <wishlist>
                <!--enabled>0</enabled>
                <send_to_not_subscribed>0</send_to_not_subscribed>
                <min_minutes_from_last_update>120</min_minutes_from_last_update>
                <min_value>5</min_value>
                <max_value></max_value>
                <min_products>1</min_products>
                <and_or>AND</and_or-->
            </wishlist>
            <cart>
                <!--enabled>0</enabled>
                <send_to_not_subscribed>0</send_to_not_subscribed>
                <min_minutes_from_last_update>120</min_minutes_from_last_update>
                <min_value>5</min_value>
                <max_value></max_value>
                <min_products>1</min_products>
                <and_or>AND</and_or-->
            </cart>
        </contactlab_template>
    </default>
</config>
