<?xml version="1.0"?>
<config>
    <modules>
        <Contactlab_Transactional>
            <version>0.9.0</version>
            <description>Magento transactional emails sent using ContactLab Smart Relay.</description>
        </Contactlab_Transactional>
    </modules>
    <global>
        <helpers>
            <contactlab_transactional>
                <class>Contactlab_Transactional_Helper</class>
            </contactlab_transactional>
        </helpers>
        <models>
            <contactlab_transactional>
                <class>Contactlab_Transactional_Model</class>
            </contactlab_transactional>
            <core>
                <rewrite>
                    <email_template>Contactlab_Transactional_Model_Email_Template</email_template>
                    <email_queue>Contactlab_Transactional_Model_Email_Queue</email_queue>
                </rewrite>
            </core>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <contactlab_transactional>
                    <files>
                        <default>contactlab/Contactlab_Transactional.csv</default>
                    </files>
                </contactlab_transactional>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <contactlab_transactional>
            <global>
                <!--enabled>0</enabled-->
            </global>
            <queue>
                <!--contactlab_transactional_model_task_sendemailrunner_interval>1</contactlab_transactional_model_task_sendemailrunner_interval>
                <contactlab_transactional_model_task_sendemailrunner_retries>10</contactlab_transactional_model_task_sendemailrunner_retries-->
            </queue>
        </contactlab_transactional>
    </default>
</config>
