<?xml version="1.0"?>
<config>
    <modules>
        <Contactlab_Subscribers>
            <version>1.1.2</version>
            <description>Subscriber sync Magento/ContactLab and ContactLab/Magento.</description>
        </Contactlab_Subscribers>
    </modules>
    <global>
        <helpers>
            <contactlab_subscribers>
                <class>Contactlab_Subscribers_Helper</class>
            </contactlab_subscribers>
        </helpers>
        <blocks>
            <contactlab_subscribers>
                <class>Contactlab_Subscribers_Block</class>
            </contactlab_subscribers>
        </blocks>
        <resources>
            <contactlab_subscribers_setup>
                <setup>
                    <module>Contactlab_Subscribers</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </contactlab_subscribers_setup>
            <contactlab_subscribers_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </contactlab_subscribers_write>
            <contactlab_subscribers_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </contactlab_subscribers_read>
        </resources>
        <models>
            <newsletter>
                <rewrite>
                    <subscriber>Contactlab_Subscribers_Model_Newsletter_Subscriber</subscriber>
                </rewrite>
            </newsletter>
            <newsletter_resource>
                <rewrite>
                    <subscriber>Contactlab_Subscribers_Model_Resource_Newsletter_Subscriber</subscriber>
                </rewrite>
            </newsletter_resource>
            <contactlab_subscribers>
                <class>Contactlab_Subscribers_Model</class>
                <resourceModel>contactlab_subscribers_resource</resourceModel>
            </contactlab_subscribers>
            <contactlab_subscribers_resource>
                <class>Contactlab_Subscribers_Model_Resource</class>
                <entities>
                    <uk>
                        <table>contactlab_subscribers_uk</table>
                    </uk>
                    <stats>
                        <table>contactlab_subscribers_stats</table>
                    </stats>
                    <customer_export>
                        <table>contactlab_subscribers_customer_export</table>
                    </customer_export>
                    <newsletter_subscriber_export>
                        <table>contactlab_subscribers_newsletter_subscriber_export</table>
                    </newsletter_subscriber_export>
                    <newsletter_subscriber_fields>
                        <table>contactlab_subscribers_newsletter_subscriber_fields</table>
                    </newsletter_subscriber_fields>
                </entities>
            </contactlab_subscribers_resource>
        </models>
        <events>
            <contactlab_subscribers_subscriber_update>
                <observers>
                    <contactlab_subscribers_subscriber_update_fields>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer_fields</class>
                        <method>updateFields</method>
                    </contactlab_subscribers_subscriber_update_fields>
                </observers>
            </contactlab_subscribers_subscriber_update>
            <newsletter_subscriber_save_after>
                <observers>
                    <contactlab_subscribers_newsletter_subscriber_save_after_fields>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer_fields</class>
                        <method>afterSubscriberSaved</method>
                    </contactlab_subscribers_newsletter_subscriber_save_after_fields>
                </observers>
            </newsletter_subscriber_save_after>
            <!-- Driven by cascade database -->
            <!--newsletter_subscriber_delete_before>
                <observers>
                    <contactlab_subscribers_newsletter_subscriber_delete_before_fields>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer_fields</class>
                        <method>beforeSubscriberDeleted</method>
                    </contactlab_subscribers_newsletter_subscriber_delete_before_fields>
                </observers>
            </newsletter_subscriber_delete_before-->
            <sales_order_save_after>
                <observers>
                    <contactlab_commons_model_delete_after>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer</class>
                        <method>updateStats</method>
                    </contactlab_commons_model_delete_after>
                </observers>
            </sales_order_save_after>
            <sales_order_delete_after>
                <observers>
                    <contactlab_subscriers_sales_order_delete_after>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer</class>
                        <method>updateStats</method>
                    </contactlab_subscriers_sales_order_delete_after>
                </observers>
            </sales_order_delete_after>
            <controller_front_send_response_after>
                <observers>
                    <contactlab_subscriers_controller_front_send_response_after>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer</class>
                        <method>doUpdateStats</method>
                    </contactlab_subscriers_controller_front_send_response_after>
                </observers>
            </controller_front_send_response_after>
        </events>
        <template>
            <email>
                <contactlab_subscribers_modify_email_send_email_template translate="label" module="contactlab_subscribers">
                    <label>Modify subscriber data email</label>
                    <file>contactlab_subscribers/modify_subscriber_data.html</file>
                    <type>html</type>
                </contactlab_subscribers_modify_email_send_email_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <contactlab_subscribers before="Mage_Adminhtml">Contactlab_Subscribers_Adminhtml</contactlab_subscribers>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <contactlab_subscribers>
                    <file>contactlab/subscribers.xml</file>
                </contactlab_subscribers>
            </updates>
        </layout>
        <translate>
            <modules>
                <contactlab_subscribers>
                    <files>
                        <default>contactlab/Contactlab_Subscribers.csv</default>
                    </files>
                </contactlab_subscribers>
            </modules>
        </translate>
        <events>
            <newsletter_subscriber_save_after>
                <observers>
                    <contactlab_subscribers_newsletter_subscriber_save_after_uk>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer_uk</class>
                        <method>subscriberSaved</method>
                    </contactlab_subscribers_newsletter_subscriber_save_after_uk>
                </observers>
            </newsletter_subscriber_save_after>
            <customer_save_after>
                <observers>
                    <contactlab_subscribers_customer_save_after_uk>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer_uk</class>
                        <method>customerSaved</method>
                    </contactlab_subscribers_customer_save_after_uk>
                </observers>
            </customer_save_after>
            <newsletter_subscriber_delete_after>
                <observers>
                    <contactlab_subscribers_newsletter_subscriber_delete_after_uk>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer_uk</class>
                        <method>afterSubscriberDelete</method>
                    </contactlab_subscribers_newsletter_subscriber_delete_after_uk>
                </observers>
            </newsletter_subscriber_delete_after>
            <customer_delete_after>
                <observers>
                    <contactlab_subscribers_customer_delete_after_uk>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer_uk</class>
                        <method>afterCustomerDelete</method>
                    </contactlab_subscribers_customer_delete_after_uk>
                </observers>
            </customer_delete_after>
            <newsletter_subscriber_delete_before>
                <observers>
                    <contactlab_subscribers_newsletter_subscriber_delete_before_uk>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer_uk</class>
                        <method>beforeSubscriberDelete</method>
                    </contactlab_subscribers_newsletter_subscriber_delete_before_uk>
                </observers>
            </newsletter_subscriber_delete_before>
            <customer_delete_before>
                <observers>
                    <contactlab_subscribers_customer_delete_before_uk>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer_uk</class>
                        <method>beforeCustomerDelete</method>
                    </contactlab_subscribers_customer_delete_before_uk>
                </observers>
            </customer_delete_before>
            <newsletter_subscriber_save_after>
                <observers>
                    <contactlab_subscribers_newsletter_subscriber_save_after>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer</class>
                        <method>subscriberSaved</method>
                    </contactlab_subscribers_newsletter_subscriber_save_after>
                </observers>
            </newsletter_subscriber_save_after>
            <controller_action_postdispatch>
                <observers>
                    <contactlab_subscribers_newsletter_controller_action_postdispatch>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer</class>
                        <method>controllerActionPostdispatch</method>
                    </contactlab_subscribers_newsletter_controller_action_postdispatch>
                </observers>
            </controller_action_postdispatch>

			<adminhtml_block_html_before>
                <observers>
                    <contactlab_subscribers_newsletter_fields_remove_grid>
                        <type>model</type>
                        <class>contactlab_subscribers/newsletter_subscribers_observer</class>
                        <method>removeOldColumns</method>
                    </contactlab_subscribers_newsletter_fields_remove_grid>
                </observers>
             </adminhtml_block_html_before>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <contactlab_subscribers_newsletter_fields_add_grid>
                        <type>model</type>
                        <class>contactlab_subscribers/newsletter_subscribers_observer</class>
                        <method>appendCustomColumns</method>
                    </contactlab_subscribers_newsletter_fields_add_grid>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <core_collection_abstract_load_before>
                <observers>
                    <contactlab_subscribers_newsletter_fields_add_grid>
                        <type>model</type>
                        <class>contactlab_subscribers/newsletter_subscribers_observer</class>
                        <method>appendCustomAttributes</method>
                    </contactlab_subscribers_newsletter_fields_add_grid>
                </observers>
            </core_collection_abstract_load_before>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <contactlab_subscribers>
                    <file>contactlab/subscribers.xml</file>
                </contactlab_subscribers>
            </updates>
        </layout>
        <events>
            <newsletter_subscriber_save_after>
                <observers>
                    <contactlab_subscribers_newsletter_subscriber_save_after_uk>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer_uk</class>
                        <method>subscriberSaved</method>
                    </contactlab_subscribers_newsletter_subscriber_save_after_uk>
                </observers>
            </newsletter_subscriber_save_after>
            <customer_save_after>
                <observers>
                    <contactlab_subscribers_customer_save_after_uk>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer_uk</class>
                        <method>customerSaved</method>
                    </contactlab_subscribers_customer_save_after_uk>
                </observers>
            </customer_save_after>
            <newsletter_subscriber_delete_after>
                <observers>
                    <contactlab_subscribers_newsletter_subscriber_delete_after_uk>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer_uk</class>
                        <method>afterSubscriberDelete</method>
                    </contactlab_subscribers_newsletter_subscriber_delete_after_uk>
                </observers>
            </newsletter_subscriber_delete_after>
            <customer_delete_after>
                <observers>
                    <contactlab_subscribers_customer_delete_after_uk>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer_uk</class>
                        <method>afterCustomerDelete</method>
                    </contactlab_subscribers_customer_delete_after_uk>
                </observers>
            </customer_delete_after>
            <newsletter_subscriber_delete_before>
                <observers>
                    <contactlab_subscribers_newsletter_subscriber_delete_before_uk>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer_uk</class>
                        <method>beforeSubscriberDelete</method>
                    </contactlab_subscribers_newsletter_subscriber_delete_before_uk>
                </observers>
            </newsletter_subscriber_delete_before>
            <customer_delete_before>
                <observers>
                    <contactlab_subscribers_customer_delete_before_uk>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer_uk</class>
                        <method>beforeCustomerDelete</method>
                    </contactlab_subscribers_customer_delete_before_uk>
                </observers>
            </customer_delete_before>
            <newsletter_subscriber_save_after>
                <observers>
                    <contactlab_subscribers_newsletter_subscriber_save_after>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer</class>
                        <method>subscriberSaved</method>
                    </contactlab_subscribers_newsletter_subscriber_save_after>
                </observers>
            </newsletter_subscriber_save_after>
            <controller_action_predispatch>
                <observers>
                    <contactlab_subscribers_newsletter_controller_action_predispatch>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer_fields</class>
                        <method>controllerActionPreDispatch</method>
                    </contactlab_subscribers_newsletter_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch>
                <observers>
                    <contactlab_subscribers_newsletter_controller_action_postdispatch>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer</class>
                        <method>controllerActionPostdispatch</method>
                    </contactlab_subscribers_newsletter_controller_action_postdispatch>
                </observers>
            </controller_action_postdispatch>
            <contactlab_subscribers_uk_subscriber_promoted_to_customer>
                <observers>
                    <contactlab_subscribers_uk_subscriber_promoted_to_customer>
                        <type>singleton</type>
                        <class>contactlab_subscribers/observer</class>
                        <method>subscriberPromotedToCustomer</method>
                    </contactlab_subscribers_uk_subscriber_promoted_to_customer>
                </observers>
            </contactlab_subscribers_uk_subscriber_promoted_to_customer>
        </events>
        <routers>
            <contactlab_subscribers>
                <use>standard</use>
                <args>
                    <module>Contactlab_Subscribers</module>
                    <frontName>contactlab</frontName>
                </args>
            </contactlab_subscribers>
        </routers>
    </frontend>
    <default>
        <contactlab_subscribers>
            <global>
                <!--enabled>0</enabled>
                <debug>0</debug>
                <export_filename>subscribers_{Ymd}.xml</export_filename>
                <import_filename>event_info_{Ymd}.xml</import_filename>
                <export_shipping_address>1</export_shipping_address>
                <export_billing_address>0</export_billing_address>
                <export_policy>0</export_policy>
                <check_uk_before_export>1</check_uk_before_export>
                <subscribed_flag_name>__cls1</subscribed_flag_name>
                <export_not_subscribed>1</export_not_subscribed>
                <reset_export_dates_before_next_export>0</reset_export_dates_before_next_export-->
            </global>
            <queue>
                <!--contactlab_subscribers_model_task_exportsubscribersrunner_interval>15</contactlab_subscribers_model_task_exportsubscribersrunner_interval>
                <contactlab_subscribers_model_task_exportsubscribersrunner_retries>5</contactlab_subscribers_model_task_exportsubscribersrunner_retries>
                <contactlab_subscribers_model_task_importsubscribersrunner_interval>10</contactlab_subscribers_model_task_importsubscribersrunner_interval>
                <contactlab_subscribers_model_task_importsubscribersrunner_retries>3</contactlab_subscribers_model_task_importsubscribersrunner_retries>
                <contactlab_subscribers_model_task_clearstatsrunner_interval>5</contactlab_subscribers_model_task_clearstatsrunner_interval>
                <contactlab_subscribers_model_task_clearstatsrunner_retries>3</contactlab_subscribers_model_task_clearstatsrunner_retries>
                <contactlab_subscribers_model_task_calcstatsrunner_interval>30</contactlab_subscribers_model_task_calcstatsrunner_interval>
                <contactlab_subscribers_model_task_calcstatsrunner_retries>2</contactlab_subscribers_model_task_calcstatsrunner_retries>
                <contactlab_subscribers_model_task_startsubscriberdataexchangerunner_interval>5</contactlab_subscribers_model_task_startsubscriberdataexchangerunner_interval>
                <contactlab_subscribers_model_task_startsubscriberdataexchangerunner_retries>5</contactlab_subscribers_model_task_startsubscriberdataexchangerunner_retries>
                <contactlab_subscribers_model_task_updatesubscriberstatusrunner_interval>1</contactlab_subscribers_model_task_updatesubscriberstatusrunner_interval>
                <contactlab_subscribers_model_task_updatesubscriberstatusrunner_retries>10</contactlab_subscribers_model_task_updatesubscriberstatusrunner_retries-->
            </queue>
            <stats>
                <!--period_1>30</period_1>
                <period_2>120</period_2-->
            </stats>
        </contactlab_subscribers>
    </default>
    <crontab>
        <jobs>
            <contactlab_subscribers_export_subscribers>
                <description>Export Magento subscribers and customers to ContactLab</description>
            </contactlab_subscribers_export_subscribers>
            <contactlab_subscribers_import_subscribers>
                <description>Import subscribers and customers from ContactLab</description>
            </contactlab_subscribers_import_subscribers>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <Contactlab_Subscribers/>
            </modules>
        </suite>
    </phpunit>
    <!--crontab>
        <jobs>
            <contactlab_subscribers_stats_recalc>
                <schedule>
                    <cron_expr>0 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>contactlab_subscribers/cron::addCalcStatsQueue</model>
                </run>
            </contactlab_subscribers_stats_recalc>
        </jobs>
    </crontab-->
</config>
